/**
* @section readMore
*/
.b-readMore {
  text-align: center;
  margin: 30px 0 0;

  &__link {
    display: inline-block;
    min-width: 160px;
    background: $colorPrimary;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: 18px/48px $BebasNeue;

    &:hover {
      background: $colorTextLight;
      color: $colorPrimary;
    }
  }
}