/**
* @section Site Copyright
*/
.l-siteCopyright {
  color: #fff;
  text-align: center;
  font: 14px/24px $Roboto;
}
.b-siteCopyright {
  margin: 0 0 15px;

  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}