/**
* @subsection siteNavigation
*/
.l-siteNavigation {
  float: right;
  display: block;

  .-device_mobile & {
    float: none;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
  }
}
.b-mainNavigation {
  @extend .g-clearfix;
  margin: 0;
  padding: 0;
  height: 100%;
  color: $colorTextLight;
  list-style: none;
  text-align: right;
  text-transform: uppercase;
  font: 14px/#{$subHeaderHeight} $RobotoSlab;

  .-device_mobile & {
   text-align: center;
  }

  &__item,
  .cat-item {
    position: relative;
    display: inline-block;
    margin: 0 0 0 45px;
    padding: 0;
    height: 100%;

    &:first-child {
      margin-left: 0;
    }

    &.-state_current {}

    &__link,
    a {
      display: block;
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}