/**
* @subsection siteInfo
*/
.l-siteInfo {}
.b-siteInfo {
  margin: 0 auto;
  width: 65%;
  color: #fff;

  &:after {
    display: block;
    margin: 42px auto 0;
    width: 60%;
    height: 1px;
    background: #fff;
    opacity: .6;
    content: '';
  }

  &__logo {
    display: block;
    margin: 0 auto 19px;
    width: 200px;
    height: 200px;
    border: 4px solid #fff;
    border-radius: 50%;
  }
  &__title {
    margin: 0 0 10px;
    text-align: center;
    font: bold 40px/1em $BebasNeue;
  }
  &__descr {
    text-align: center;
    font: 16px/1.5em $RobotoSlab;
  }
}